.header {
    position: relative;
    background-color: rgb(43, 10, 192);
    height: 8vh;
    display: flex;
    align-items: center;
}

.burger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 20;
    cursor: pointer;
    margin-left:5px;
}

.burger div {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.nav {
    position: absolute;
    top: 8vh;
    left: 0;
    height: calc(100vh - 8vh);
    width: 200px;
    display: flex;
    justify-content: start; /* Align content to the start (left) */
    background-color: #333;
    color: #fff;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    padding-left: 20px; /* Add some padding to prevent text sticking to the edge */
}
a:visited {
    color: white;
    text-decoration: none;
}
.nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Take up the full width of the parent (nav) */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
}

.nav li {
    padding: 10px;
}
.title {
    color: #fff;
    font-size: 1.25rem;
    margin-left: 1rem;
    width:100%
}
.welcomeuser {
    font-size: 12px;
    color: lime;
    float: right;
    display: inline-block;
    margin-right: 10px;
}
.nav ul li a {
    color: #fff;
    text-decoration: none;
}
.nav ul li a:visited,
.nav ul li a:focus,
.nav ul li a:active {
    color: #fff;
    text-decoration: none;
}