.cell {
    width: calc((100% / 7) - 1px);
    display: inline-block;
    border: 2px solid black;
    margin-left: 1px;
    color: white;
    text-align: center;
    font-size:16px;
    opacity: .7;
}
.row {
    margin-top: 2px;
}
.firstmonth {
    background-color: hsl(210, 100%, 50%);
}
.secondmonth {
    background-color: hsl(210, 100%, 25%);
}
.soldout {
    border: 3px solid red;
    background-color: hsl(210, 100%, 25%);
}
.cellBlue {
    background-color: blue;
  }
  
 .cellGreen {
    background-color: green;
}
.dayName {
    color:black;
    border:none;
    font-size: 12px;
    height: 5vw;
}
.expiredDate {
    background-color: gray;
}
.availableAppointments{
    color:yellow;
    margin:0px;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 5px;
}
.month {
    min-height: 12px;
    max-height: 12px;
    margin-bottom: 3px;
}
.miles {
    width: 20vw;
    display: inline;
}
input {
    width: 75%;
}
.apptsLeft{
    color:yellow;
    font-size: 10px;
}
div.expiredDate>div.apptsLeft{
    color:transparent;
    font-size: 10px;
}
.notSelected {
    border: 1px solid black;
}