body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable-text {
  color: magenta;
  text-decoration: underline;
}

#root {

  background-color:#878787
}
.app {
  max-width: 600px;
  margin:auto;
  background-color: whitesmoke;
}

a:visited {
  color:unset;
}
.notAvailable {
  color: rgb(197, 197, 197);
}